[Unit]
Description=Battery level alert timer
Requires=battery-alert.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
